.app {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  min-height: 100%;
  background: #1e1e1e;
}

.app__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #d4d4d4;
  border-bottom: 1px solid #3c3c3c;
}

.app__header h1 {
  grid-column: 1 / -1;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.app__header span {
  font-size: 0.8rem;
  color: #9d9d9d;
}

/*
* The app color theme is green, gold, yellow, black, and white.
* I have not decided on shades of those colors just yet.
*/
.app__button {
  background: #123524;
  border-radius: 0.5rem;
  padding: 0.25rem 0.4rem;
  border-color: #fbec5d;
  border-width: 3px;
  color: #f2f3f4;
  text-shadow: 0 0.2 0.5rem #fbec5d;
}

.app__editor {
  min-height: 800px;
}

.app__options {
  max-height: 200px;
}
