:root {
  font-family: system-ui, sans-serif;
  color: #d4d4d4;
  background: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0;
}
